click==8.1.7 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
grpcio-tools==1.68.1 ; python_version >= "3.9" and python_version < "4.0"
grpcio==1.68.1 ; python_version >= "3.9" and python_version < "4.0"
mypy-protobuf==3.6.0 ; python_version >= "3.9" and python_version < "4.0"
protobuf==5.29.1 ; python_version >= "3.9" and python_version < "4.0"
protoletariat==3.3.4 ; python_version >= "3.9" and python_version < "4.0"
setuptools==75.6.0 ; python_version >= "3.9" and python_version < "4.0"
types-protobuf==5.29.1.20241207 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "4.0"
